<h1>商品新規登録</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= form_with model:@item, url:admin_items_path, local:true do |f| %>
        <table>
         <tbody>
          <tr>
            <th>商品画像</th>
            <th><%= f.attachment_field :image %></th>
          </tr>
          <tr>
            <td>商品名</td>
            <td><%= f.text_field :name, placeholder: "商品名", size: "40x1" %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= f.text_area :introduction, placeholder: "ここに説明文を記述します", size: "40x6 " %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></td>
          </tr>
          <tr>
            <td>税抜価格</td>
            <td><%= f.text_area :price, placeholder: "1000", size: "40x1" %></td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <%= f.radio_button :done, true %>
              <%= f.label :done, '販売中', value: true %>
              <%= f.radio_button :done, false %>
              <%= f.label :done, '販売停止中', value: false %>
            </td>
          </tr>
          <tr>
            <%= f.submit class: 'btn btn-success' %>
          </tr>
         </tbody>
        
        </table>
        
      <% end %>

    </div>
  </div>
</div>
