<div class="container">
  <div class="row">
      <h4 class="bg-light my-3 px-4"><%= @customer.full_name %>さんの会員詳細</h4>
          <table class="table table-borderless row mx-1">
          　<!--会員情報詳細-->
            <tbody>
               <!--会員ID-->
               <tr>
                 <td>会員ID</td>
                 <td class="px-5"><%= @customer.id %></td>
  　           </tr>
  　           <!--氏名-->
  　           <tr>
  　             <td>氏名</td>
  　             <td class="px-5"><%= @customer.show_full_name %></td>
  　           </tr>
  　           <!--フリガナ-->
  　           <tr>
  　             <td>フリガナ</td>
  　             <td class="px-5"><%= @customer.full_name_kana %></td>
      　        </tr>
              　<!--郵便番号-->
  　           <tr>
  　             <td>郵便番号</td>
  　             <td class="px-5"><%= @customer.postcode %></td>
               </tr>
               <!--住所-->
  　           <tr>
  　             <td>住所</td>
  　             <td class="px-5"><%= @customer.address %></td>
  　           </tr>
  　           <!--電話番号-->
             　<tr>
  　             <td>電話番号</td>
  　             <td class="px-5"><%= @customer.phone_num %></td>
  　           </tr>
  　           <!--メールアドレス-->
  　           <tr>
                 <td>メールアドレス</td>
                 <td class="px-5"><%= @customer.email %></td>
               </tr>
               <!--会員ステータス-->
               <tr>
                 <td>会員ステータス</td>
                   <% if @customer.is_deleted_i18n == "有効" %>
                     <td class="text-success px-5"><%= @customer.is_deleted_i18n %></td>
                   <% else %>
                     <td class="text-secondary px-5"><%= @customer.is_deleted_i18n %></td>
                   <% end %>
                 </tr>
                  <!--ボタン-->
                <tr>
                  <td></td>
                  <td class="px-5"><%= link_to "編集する", edit_admin_customer_path, class: 'btn btn-success mr-5' %>
                  <%= link_to "注文履歴一覧を見る", admin_orders_path, class: 'btn  btn-primary ml-5' %></td>
                </tr>
              </tbody>
           </table>
        </div>
      </div>
    </div>
  </div>



