<div class="container">
  <div class="row">
    <div class="col mt-3">
      <h4>注文履歴詳細</h4>
    	  <div class="row">
    	    <div class="col-md-8 mt-3">
    	      <table class="table table-borderless">
    	        <thead class="thead-light">
    	        <tr>
    	          <th>購入者</th>
    	          <td>
                 <u>
                   <%= link_to admin_customer_path(@order.customer.id), class: "text-dark" do %>
	                 <%= @order.customer.full_name %>
	                 <% end %>
	               </u>
	             </td>
            </tr>
            <tr>
	            <th>注文日</th>
	            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
	          </tr>
	          <tr>
	            <th class="align-top">配送先</th>
	            <td>〒<%= @order.postcode %><br>
	                  <%= @order.address %><br>
                    <%= @order.name %>
              </td>
	          </tr>
	          <tr>
	            <th>支払方法</th>
	            <td><%= @order.payment_method_i18n %></td>
	          </tr>
	          <tr>
	            <th class="align-middle">注文ステータス</th>
	            <td>
	              <%= form_with(model: @order, url: admin_order_path(@order),method: :patch, local: true, class: "form-row") do |f| %>
                <%= f.select :status, Order.statuses_i18n.invert, {}, class:"custom-select my-1 mr-sm-2 col-6"  %>
                <%= f.submit "更新",class: "btn btn-success ml-3" %>
                <% end %>
              </td>
	          </tr>
	         </thead>
	      </table>
	    </div>
	  </div>
    <div class="row">
      <div class="col-md-8 mt-2">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td><%= order_item.add_tax_sales_price.to_s(:delimited) %>円</td>
              <td><%= order_item.quantity %></td>
              <td><%= order_item.subtotal.to_s(:delimited) %>円</td>
              <td>
                <%= form_with url: admin_path(order_item), model:order_item, method: :patch, local:true do |s| %>
                  <%= s.select :making_status, OrderItem.making_statuses_i18n.invert, {prompt: 0}, {class: "custom-select my-1 mr-sm-2 col-7",required: true} %>
                  <%= s.submit "更新", class: "btn btn-success" %>
                <% end %>
              </td>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="offset-md-1 d-flex align-items-center justify-content-bottom">
        <table class="table table-borderless">
          <tr>
            <th class="total table-color">商品合計</th>
            <td class="total text-right"><%= @total.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th class="total table-color">送料</th>
            <td class="total text-right"><%= @order.shipping_cost.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th class="total table-color">請求金額合計</th>
            <td class="total text-right"><%= @order.billing_amount.to_s(:delimited) %>円</td>
          </tr>
         </table>
   	</div>
  </div>
 </div>
</div>
</div>