<div class="container">
  <div class="row">
    <h4 class="bg-light my-3 px-4"><%= @customer.full_name %>さんの会員情報編集</h4>
  </div>

    <%= form_with model:@customer, url:customers_path, local:true do |f| %>

      <div class="form-group row">
        <%= f.label :氏名,class: "col-12 col-md-3 col-lg-2 col-form-label" %>
        <div class="col-12 mb-3 mb-md-0 col-md-4 col-lg-3">
          <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "姓" %>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "名" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :フリガナ,class: "col-12 col-md-3 col-lg-2 col-form-label" %>
        <div class="col-12 col-md-4 mb-3 mb-md-0 col-lg-3 ">
          <%= f.text_field :last_name_kana, autofocus: true, class: "form-control", placeholder: "セイ" %>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          <%= f.text_field :first_name_kana, autofocus: true, class: "form-control mr-2", placeholder: "メイ" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :郵便番号, class: "col-12 col-md-3 col-lg-2 col-form-label" %>
        <div class="col-12 col-md-4 col-lg-3">
          <%= f.text_field :postcode, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :住所,class: "col-12 col-md-3 col-lg-2 col-form-label" %>
        <div class="col-12 col-md-6">
          <%= f.text_field :address, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :電話番号,class: "col-12 col-md-3 col-lg-2 col-form-label" %>
        <div class="col-12 col-md-4 col-lg-3">
          <%= f.text_field :phone_num, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :メールアドレス,class: "col-12 col-md-3 col-lg-2 col-form-label" %>
        <div class="col-12 col-md-4 col-lg-3">
          <%= f.text_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <p class="bg-light my-3 px-4"><%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
        <p class="bg-light my-3 px-4"><%= link_to '退会する',customers_unsubscribe_path(@customer), class: "btn btn-danger" %></td>
      </div>
    <% end %>
  </div>