<div class="container">
  <div class="row">
    <h4 class="bg-light my-3 px-4"><%= @customer.full_name %>さんのマイページ</h4>
  </div>
  <br>
  <div class="row">
    <h3>　登録情報</h3>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <%= link_to "編集する", customers_edit_path(current_customer),class: "btn btn-success" %></p>
  </div>

    <br>
    <table border="1" width="600" height="300">
      <tr>
        <td width="200" bgcolor="silver">氏名</td>
        <td width="400"><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <td width="200" bgcolor="silver">カナ</td>
        <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td width="200" bgcolor="silver">郵便番号</td>
        <td><%= @customer.postcode %></td>
      </tr>
      <tr>
        <td width="200" bgcolor="silver">住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td width="200" bgcolor="silver">電話番号</td>
        <td><%= @customer.phone_num %></td>
      </tr>
      <tr>
        <td width="200" bgcolor="silver">メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </table>

    <br>
    <table width="200" height="100">
      <tr>
        <th>配送先</th>
        <th><%= link_to '一覧を見る', addresses_path, class: "btn btn-primary" %></th>
      </tr>
      <tr>
        <th>注文履歴</th>
        <th><%= link_to '一覧を見る', orders_path,class: "btn btn-primary" %></th>
      </tr>
    </table>
</div>