<div class="container-fluid py-5">
  <div class="col-10 offset-1">
    <h3>注文履歴詳細</h3>
    <div class="row">
      <div class="col-6 pl-0 mt-3">
        <h5 class="font-weight-bold">注文情報</h5>
        <table class="table table-bordered">
          <tr>
            <td class="bg-light">注文日</td>
            <td colspan="4"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="bg-light">配送先</td>
            <td colspan="4">
              〒<%= @order.postcode %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">支払方法</td>
            <td colspan="4"><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td class="bg-light">ステータス</td>
            <td colspan="4"><%= @order.making_status_i18n %></td>
          </tr>
        </table>
      </div>
      <div class="col-6 mt-3">
      <h5 class="font-weight-bold">請求情報</h5>
        <table class="table table-bordered">
          <tr>
            <td class="bg-light">商品合計</td>
            <td><%= (@total_payment).to_s(:delimited) %></td>
          </tr>
          <tr>
            <td class="bg-light">配送料</td>
            <td><%= @order.shipping_cost %></td>
          </tr>
          <tr>
            <td class="bg-light">ご請求額</td>
            <td><%= (@order.shipping_cost + @total_payment).to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row mt-3">
    <h5 class="font-weight-bold">注文内容</h5>
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th colspan="6">商品</th>
          <th colspan="2">単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
        <tr>
          <td colspan="6"><%= order_item.item.name %></td>
          <td colspan="2"><%= order_item.item.add_tax_sales_price %></td>
          <td><%= order_item.quantity %></td>
          <td><%= (order_item.item.add_tax_sales_price * order_item.quantity).to_s(:delimited) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>

