配送先編集
<%= form_with model: @address, local:true do |f| %>
<div>
  郵便番号(ハイフンなし)
  <%= f.text_field :postcode %>
</div>
<div>
  住所
  <%= f.text_field :address %>
</div>
<div>
  宛名
  <%= f.text_field :name %>
  <%= f.submit '変更内容を保存' %>
</div>
<% end %>