<div class="containor">
  <div class="row">
    <div class="col-lg-2">
      
    </div>
    <div class="col-lg-9">
       <h4 class = "my-3 px-4">商品一覧 (全<%= @item_count.count %>件)</h4>
      <div class="card-group">
       <% @items.each do |item| %>
        
         <div class="col-lg-3 my-2">
           <a href="/items/<%= item.id %>" class="card border-warm h-100 text-dark">
            
             <%= attachment_image_tag item, :image, format:"jpeg", class: "h-50" %>
             <div class="card-body">
              <div class="card-title">
                <%= item.name %>
              </div>
              <div class="card-text">
                ￥<%= item.add_tax_sales_price.to_s(:delimited) %>
              </div>
             </div>
            
           </a>
         </div>
        
       <% end %>
      </div>
      <div class="md-auto">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>