<div class="container">
 <div class="row">
　<div class="col-lg-3">
    <h3>ジャンル検索</h3>
  </div>
  <div class="col-lg-3">
    <%= attachment_image_tag @item, :image, size: "200x150", format:'jpeg', class:"img-fluid" %>
  </div>
  <div class="col-lg-5">
    <table>
        <tr>
         <td><h5><b><%= @item.name %></b></h5></td>
        </tr>
        <tr>
         <td><%= @item.introduction %></td>
        <tr>
         <td>
           <h5>¥<%= @item.add_tax_sales_price.to_s (:delimited) %><span>（税込）</span></h5>
           </td>
        </tr>
        <tr>
         <td>
           <%= select_tag :hoge, options_for_select((1..10).to_a) %>
           <%= link_to "カートに入れる", cart_items_path, class:"btn btn-success" %>
         </td>
        
        </tr>
    </table>  
  </div>
 </div>
</div>
