<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--header-->
    <%= render "layouts/header" %>
    
    <p class="text-alert"><%= alert %></p>
   

    <%= yield %>

    <!--footer-->
    <footer>
    </footer>
  </body>
</html>
